# DataFrames, Series and Lists

First of all, before we can do anything with Pandas, we have to import it, so Python and Jupyter Notebook know how to use it.
We will also load a csv file with some data in it into the variable testData.

In [1]:
import pandas as pd
testData = pd.read_csv("./data/startdata.csv",sep = ';', index_col = ['Date and time'], parse_dates = ['Date and time'], dayfirst = True)

<br>While working with Pandas you will be using **DataFrames, Series and Lists** most of the time. The first two come from Pandas, the List is the default python one.

Basically, a DataFrame has an index and multiple columns, a Series has an index and one column, and a List is just an array of values.

When working with DataFrames, you will often create new DataFrames or Series containing a limited subset of the original. One way to do this is by specifying which columns you want to use from the original. 

The format is slightly different depending on if you want a new DataFrame or Series:
```python
newDataFrame = OriginalDataFrame[['columnName']] OR OriginalDataFrame[['columnName', 'columnName2', ...]]
newSeries = OriginalDataFrame['columnName']
```
The difference is that for the DataFrame you use double square brackets "[[ ]]" and for Series single square brackets "[ ]" to indicate which columns to use.

When executing in Jupyter notebook, you can see the difference between a DataFrame and a Series, the Dataframes output is more like a formatted html table, where is series is raw textdata without formatting.

In [7]:
testData[['Value']].head(3)

                Value
Date and time
1/01/2019 0:00     85
1/01/2019 1:00     76
1/01/2019 2:00     99

In [8]:
testData['Value'].head(3)

Date and time
1/01/2019 0:00    85
1/01/2019 1:00    76
1/01/2019 2:00    99
Name: Value, dtype: int64

<br>If you want a new DataFrame with **multiple columns**, pass the columns in in the order you want them to be in:

In [12]:
testData[['Value2', 'Value']].head(3)

                Value2  Value
Date and time
1/01/2019 0:00      48     85
1/01/2019 1:00      64     76
1/01/2019 2:00      62     99

Next: [Adding columns to a DataFrame](03-Adding_columns_to_a_DataFrame.ipynb)