# DataFrames, Series and Lists

First of all, before we can do anything with Pandas, we have to import it, so Python and Jupyter Notebook know how to use it.
We will also load a csv file with some data in it into the variable testData.

In [1]:
import pandas as pd
testData = pd.read_csv("./data/startdata.csv",sep = ';', index_col = ['Date and time'], parse_dates = ['Date and time'], dayfirst = True)

<br>While working with Pandas you will be using **DataFrames, Series and Lists** most of the time. The first two come from Pandas, the List is the default python one.

Basically, a DataFrame has an index and multiple columns, a Series has an index and one column, and a List is just an array of values.

When working with DataFrames, you will often create new DataFrames or Series containing a limited subset of the original. One way to do this is by specifying which columns you want to use from the original. 

The format is slightly different depending on if you want a new DataFrame or Series:
```python
newDataFrame = OriginalDataFrame[['columnName']] OR OriginalDataFrame[['columnName', 'columnName2', ...]]
newSeries = OriginalDataFrame['columnName']
```
The difference is that for the DataFrame you use double square brackets "[[ ]]" and for Series single square brackets "[ ]" to indicate which columns to use.

When executing in Jupyter notebook, you can see the difference between a DataFrame and a Series, the Dataframes output is more like a formatted html table, where is series is raw textdata without formatting.

In [7]:
testData[['Value']].head(3)

                Value
Date and time
1/01/2019 0:00     85
1/01/2019 1:00     76
1/01/2019 2:00     99

In [3]:
testData['Value'].head(3)

Date and time
2019-01-01 00:00:00    30
2019-01-01 06:00:00    73
2019-01-01 12:00:00    44
Name: Value, dtype: int64

If we need to access a column, like the one above, that has no spaces in it's name, we can use that to address it, without the ['Value']:
```python
testData.Value.head(3)
```

<br>If you want a new DataFrame with **multiple columns**, pass the columns in in the order you want them to be in:

In [12]:
testData[['Value2', 'Value']].head(3)

                Value2  Value
Date and time
1/01/2019 0:00      48     85
1/01/2019 1:00      64     76
1/01/2019 2:00      62     99

Another way to do this is the **.iloc** function. This takes a start and ending ofset for both rows and columns, which wil then be sliced out of the DataFrame and returned as a new one, in the order in which the data was in the original DataFrame:

In [7]:
testData.iloc[: , 1:3]

                     Value  Value2
Date and time
2019-01-01 00:00:00     30      42
2019-01-01 06:00:00     73      37
2019-01-01 12:00:00     44      51
2019-01-01 18:00:00     61       8
2019-01-02 00:00:00     26       1
2019-01-02 06:00:00     38      63
2019-01-02 12:00:00     54      33
2019-01-02 18:00:00     89      11
2019-01-03 00:00:00     90      12
2019-01-03 06:00:00     30      79
2019-01-03 12:00:00     98      65
2019-01-03 18:00:00     46      55
2019-01-04 00:00:00      7      63
2019-01-04 06:00:00     83      80
2019-01-04 12:00:00     95      39
2019-01-04 18:00:00     67      84
2019-01-05 00:00:00     48       0
2019-01-05 06:00:00      4      10
2019-01-05 12:00:00      1      28
2019-01-05 18:00:00     32      33
2019-01-06 00:00:00     40      41
2019-01-06 06:00:00     59      34
2019-01-06 12:00:00     83      95
2019-01-06 18:00:00     18      25
2019-01-07 00:00:00     13       6
2019-01-07 06:00:00     90       2
2019-01-07 12:00:00     18      16
2019-01-07 18:00:00     60      94
2019-01-08 00:00:00     31       4
2019-01-08 06:00:00     89       8
2019-01-08 12:00:00     77      91
2019-01-08 18:00:00     91      61
2019-01-09 00:00:00     49      57
2019-01-09 06:00:00     74      36
2019-01-09 12:00:00     93      14
2019-01-09 18:00:00      8      56
2019-01-10 00:00:00     36      53
2019-01-10 06:00:00     47      95
2019-01-10 12:00:00     59      35
2019-01-10 18:00:00     50      58
2019-01-11 00:00:00      1      74
2019-01-11 06:00:00     20      96
2019-01-11 12:00:00     86      28
2019-01-11 18:00:00     52      14
2019-01-12 00:00:00     79      27
2019-01-12 06:00:00     46      76
2019-01-12 12:00:00      5      59
2019-01-12 18:00:00     50      46

## Info about the DataFrame

To know the **size** of a DataFrame we can look at it's **shape** property, which returns the rows and columns in the DataFrame:

In [2]:
testData.shape

(48, 4)

Next: [Adding columns to a DataFrame](03-Adding_columns_to_a_DataFrame.ipynb)