# Adding columns to a DataFrame

In [1]:
import pandas as pd
testData = pd.read_csv("./data/startdata.csv",sep = ';', index_col = ['Date and time'], parse_dates = ['Date and time'], dayfirst = True)

Now that we have split up dataframes, we should also be able to reassemble them. To do this you can use **pd.concat()**. We will first split up the sample data to reassemble it afterwards:

In [2]:
td1 = testData['Value'] #creating a Series
td2 = testData[['Value2', 'Visibility']] #creating a DataFrame
result = pd.concat([td1, td2], axis=1)
result.head(3)

                     Value  Value2 Visibility
Date and time
2019-01-01 00:00:00     30      42       Show
2019-01-01 06:00:00     73      37       Hide
2019-01-01 12:00:00     44      51       Show

As shown above, you can concatenate DataFrames and Series, just make sure that they are of the **same length**. 
Also note that you need to specify in which direction you want to concatenate. The **axis** option takes care of this. If you specify nothing or 0, then concat will add the items from the list passed to it below eachother, which is not wat we want here, we want new columns to be added, for this use **axis=1**

<br>You can also add new rows to a DataFrame by specifying the name of the new column when assigning the data:

In [3]:
import random
tmp=[]
[tmp.append(random.randint(0,100)) for x in range(0,len(testData))]
testData['Random'] = tmp
testData.head(3)

                    Visibility  Value  Value2 Value3  Random
Date and time
2019-01-01 00:00:00       Show     30      42      A      95
2019-01-01 06:00:00       Hide     73      37      B      38
2019-01-01 12:00:00       Show     44      51      C      30

<br>While importing we specified an index. This is the column that apears in bold when Jupiter Notebook displays a DataFrame. If we want to use this we can use **.index**. Let's add a column that contains the weekday, based on the date per row. Since we specified in the import that 'Date and time' is a date, we can use .weekday on it.

In [79]:
testData['weekday'] = testData[:].index.weekday
testData.head(5)

                    Visibility  Value  Value2 Value3  Random  weekday
Date and time
2019-01-01 00:00:00       Show     36      99      A      18        1
2019-01-01 06:00:00       Show      7      96      B      82        1
2019-01-01 12:00:00       Show     90      43      C      23        1
2019-01-01 18:00:00       Show     50      14      D      52        1
2019-01-02 00:00:00       Show     67      16      E      95        2

Next: [Removing columns from a DataFrame](04-Removing_columns_from_a_DataFrame.ipynb) | [Content](00-Content.ipynb)