# Adding columns to a DataFrame

In [2]:
import pandas as pd
testData = pd.read_csv("./data/startdata.csv",sep = ';', index_col = ['Date and time'], parse_dates = ['Date and time'], dayfirst = True)

Now that we have seen how to split up dataframes, we should also be able to reassemble them. To do this you can use **pd.concat()**. We will first split up the sample data to reassemble it afterwards:

In [2]:
td1 = testData['Value'] #creating a Series
td2 = testData[['Value2', 'Visibility']] #creating a DataFrame
result = pd.concat([td1, td2], axis=1)
result.head(3)

                     Value  Value2 Visibility
Date and time
2019-01-01 00:00:00     30      42       Show
2019-01-01 06:00:00     73      37       Hide
2019-01-01 12:00:00     44      51       Show

As shown above, you can concatenate DataFrames and Series, just make sure that they are of the **same length**. 
Also note that you need to specify in which direction you want to concatenate. The **axis** option takes care of this. If you specify nothing or 0, then concat will add the items from the list passed to it below eachother, which is not wat we want here, we want new columns to be added, for this use **axis=1**

<br>You can also add new rows to a DataFrame by specifying the name of the new column when assigning the data:

In [4]:
import numpy as np
testData['Random'] = np.random.randint(1, high=5, size=len(testData), dtype='l')
testData.head(3)

                    Visibility  Value  Value2 Value3  Random
Date and time
2019-01-01 00:00:00       Show     30      42      A       1
2019-01-01 06:00:00       Hide     73      37      B       3
2019-01-01 12:00:00       Show     44      51      C       1

<br>While importing we specified an index (Date and time). This is the column that apears in bold when Jupiter Notebook displays a DataFrame. If we want to use this we can use **df.index**. Let's add a column that contains the weekday, based on the date per row. Since we specified in the import that 'Date and time' is a date, we can use .weekday on it.

In [6]:
testData['weekday'] = testData[:].index.weekday
testData.head(3)

                    Visibility  First  Second Third  Random  weekday
Date and time
2019-01-01 00:00:00       Show     30      42     A      44        1
2019-01-01 06:00:00       Hide     73      37     B      22        1
2019-01-01 12:00:00       Show     44      51     C      81        1

If after adding columns to a DataFrame we want to change the name of the columns we can do so with:

In [5]:
testData.rename(columns = {'Value': 'First', 'Value2': 'Second', 'Value3': 'Third'}, inplace=True)
testData.head(3)

                    Visibility  First  Second Third  Random
Date and time
2019-01-01 00:00:00       Show     30      42     A      44
2019-01-01 06:00:00       Hide     73      37     B      22
2019-01-01 12:00:00       Show     44      51     C      81

The inplace option causes the changes to be executed on this DataFrame. If it is not specified a new DataFrame wil be returned.

Another way to perform the rename, if you want to change *all* the columns, is to set the DataFrame's column property to an array the same length as the number of columns:
```python
testData.columns = ["first", "second", "third"]
```

Next: [Removing columns from a DataFrame](04-Removing_columns_from_a_DataFrame.ipynb) | [Content](00-Content.ipynb)