# Tips

Remove all spaces from the column names and replace them with underscores
```python
df.columns = df.columns.str.replace(‘ ‘,’_’)
```

Converting a price string with the currency symbol as the first character to float in a column (€12.34)
```python
df.priceAsValue = [float(value[1:-1]) for value in df.priceAsString]
```